.beat-buff-btn {
    text-decoration: none !important;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #555; /* Add a background color on hover */
    }
  }
  